#allparameters, #allheaders, #authentication {
  display: none;
}

#ajaxspinner {
  display: none;
}

#outputpre {
  min-height: 350px;
  font-size: 85%;
}

#headerpre {
  min-height: 100px;
  font-size: 85%;
}
