:root{
  --pagecolor: #FF8C00;
}

.logo {
  color: var(--pagecolor) !important;
  fill: var(--pagecolor);
}

.nav-link{
  color: #FFFFFF !important;
}

.nav-link:hover{
  color: var(--pagecolor) !important;
}

.buttons-r{
  float: right !important;
  padding-left: 20px;
}

.jad-card{
  padding: 15px;
  border-bottom: 3px solid var(--pagecolor);
}

.send{
  color: #4caf50 !important;
}
.send:hover{
  background: #4caf50 !important;
  color: #000000 !important;
}

.hidden{
  display: none;
}

footer{
  padding: 40px;
  border-top: 3px solid var(--pagecolor);
}

.navbar{
  border-bottom: 3px solid var(--pagecolor) !important;
}

.jad-button{
  color: var(--pagecolor) !important;
}
.jad-button:hover{
  background: var(--pagecolor) !important;
  color: #000000 !important;
}

pre{
  color: #FFFFFF;
}

body{
  background: #666666;
}

.dropdown-menu{
  background: #424242;
  color: #FFFFFF;
}

.dropdown-item{
  background: #424242;
  color: #FFFFFF;
}
.dropdown-item:hover{
  background: var(--pagecolor);
  color: #000000;
}

a{
  color: var(--pagecolor) !important;
}
a:hover{
  font-weight: bold;
}

::-webkit-scrollbar{
  background: rgba(0, 0, 0, 0.3);
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-corner{
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: var(--pagecolor);
}

.close{
  color: #f44336 !important;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,var(--pagecolor) 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}
